<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook" title="Facebook"></i>
            <i class="fa-brands fa-x-twitter" title="X (Twitter)"></i>
            <i class="fa-brands fa-square-instagram" title="Instagram"></i>
        </div>
        <div style="font-size:0.88rem;color:#555;">&copy; <%= new Date().getFullYear() %> WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</footer>